<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Drive Saver</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleOAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.REPLACE_WITH_CLIENT_ID_PREFIX</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Google Drive에서 받은 사진과 동영상을 선택한 앨범에 저장합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>앨범을 만들고 저장한 사진과 동영상을 추가합니다.</string>
</dict>
</plist>
